# Week 3 Neighborhoods in Toronto - Part 1 Reading the data

## Import libraries

In [19]:
import numpy as np
import pandas as pd
pd.set_option ('display.max_columns', None)
pd.set_option ('display.max_rows', None)
import matplotlib.pyplot as plt
import json
from pandas.io.json import json_normalize # to flatten json file and use pandas to read it

! pip install geopy
from geopy.geocoders import Nominatim # convert an address into latitude and longitude

from sklearn.cluster import KMeans

! pip install BeautifulSoup4 requests

print("import done")

Requirement already satisfied: geopy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geopy) (1.50)
Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.3)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.24.0)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (2.0.1)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (3.0.4)
import done

In [20]:
import requests
from bs4 import BeautifulSoup

In [21]:
headers = {
    'Access-Control-Allow-Origin': '*',
    'Access-Control-Allow-Methods': 'GET',
    'Access-Control-Allow-Headers': 'Content-Type',
    'Access-Control-Max-Age': '3600'
}

## To request the data from Wiki

In [22]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source= requests.get(url).text
soup=BeautifulSoup(source)

In [23]:
table_data=soup.find('div', class_='mw-parser-output')
table=table_data.table.tbody

In [24]:
columns=['PostalCode', 'Borough', 'Neighbourhood']
data=dict({key:[]*len(columns) for key in columns})

for row in table.find_all('tr'):
    for i, column in zip(row.find_all('td'), columns):
        i=i.text
        i=i.replace('\n', '')
        data[column].append(i)
        
df=pd.DataFrame.from_dict(data=data)[columns]
print(df.shape)
df.tail(10)

(180, 3)

,PostalCode,Borough,Neighbourhood
170,M9Y,Not assigned,Not assigned
171,M1Z,Not assigned,Not assigned
172,M2Z,Not assigned,Not assigned
173,M3Z,Not assigned,Not assigned
174,M4Z,Not assigned,Not assigned
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [34]:
# drop the un-assigned Borough
df=df[df['Borough'] !='Not assigned'].reset_index(drop=True)
df.shape

(103, 3)

In [37]:
# number of cases that Neighbourhood is Not Assigned
df[df['Neighbourhood']=='Not assigned'].shape

(0, 3)

There is no row with Neighbourhood = Not Assigned

In [40]:
print('So the final data frame has the shape of:', df.shape)

So the final data frame has the shape of: (103, 3)